.sidebar_container {
    width: 450px;
    height: inherit;
    display: flex;
    justify-content: right;
    align-items: right;
    padding: 1rem 0 0 0;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.144);
}

.menu {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.menu i {
    font-size: 1.2rem;
    color: #4D4D4D;
    margin-right: 1rem;
}


.linkClass {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 1rem 4rem 1rem 7rem;
    color: #4D4D4D;
    font-size: 17px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.linkClass:hover {
    background-color: #F1F1F1;
}


/* Responsive*/
@media (max-width: 800px) {
    .sidebar_container {
        width: 300px;
    }

    .linkClass {
        padding: 1rem 3rem 1rem 3rem;
        font-size: 16px;
    }

}

@media (max-width: 600px) {
    .sidebar_container {
        width: 250px;
    }

    .linkClass {
        padding: 0.7rem 2rem 0.7rem 2rem;
        font-size: 16px;
    }
}

@media (max-width: 350px) {
    .sidebar_container {
        width: fit-content;
    }

    .linkClass {
        padding: 0.7rem 1rem 0.7rem 1rem;
        font-size: 14px;
    }

    .menu i {
        margin-right: 0.2rem;
    }
}