.cadastro_container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

/* FORM */
.form_cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    height: 50%;

    input {
        padding: 20px 30px;
        width: 100%;
        border: 2px solid #9E00E7;
        border-radius: 50px;
    }

    h1 {
        font-size: xx-large;
        color: #580081;
    }

    a {
        font-weight: bold;
    }
}

.form_cadastro input::placeholder {
    color: #C66BF1;
}


/* TIPO DE CADASTRO */
.verificacao {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;

    p {
        font-weight: bold;
        color: #9E00E7;
    }

    label {
        color: #C566F0;
        margin-right: auto;
    }

    .sim,
    .nao {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}

.cadastro_botao {
    background-color: #65148B;
    padding: 15px 60px;
    width: 30%;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.123);
}

.cadastro_botao:hover {
    border: 2px solid #65148B;
    color: #65148B;
}